name: Rust

on:
  push:
    branches:
      - main
  pull_request: {}

env:
  CARGO_TERM_COLOR: always
  MSRV: 1.67.1
  REDIS_URL: redis://localhost:6379/1
  MONGODB_URL: mongodb://localhost:27017
  POSTGRES_URL: postgres://postgres:postgres@localhost:5432
  MYSQL_URL: mysql://root@localhost:3306/public

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pwd:
          - .
          - examples

    steps:
      - uses: actions/checkout@v4
      - run: |
          rustup toolchain install nightly --profile minimal --component rustfmt --component clippy
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.pwd }}
          workspaces: ${{ matrix.pwd }}
      - name: clippy
        working-directory: ${{ matrix.pwd }}
        run: |
          cargo clippy --all --all-targets --all-features
      - name: rustfmt
        working-directory: ${{ matrix.pwd }}
        run: |
          cargo fmt --all -- --check

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: cargo doc
        env:
          RUSTDOCFLAGS: "-D rustdoc::broken-intra-doc-links"
        run: |
          cargo doc --all-features --no-deps

  test-docs:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          rustup toolchain install nightly --profile minimal
          cargo install cargo-tarpaulin
      - uses: Swatinem/rust-cache@v2
      - name: Run doc tests
        run: |
          cargo test --all-features --doc
      - name: Generate code coverage
        run: |
          output_dir="./coverage/doc"
          cargo tarpaulin -olcov --doc  --output-dir $output_dir
          mkdir -p coverage-artifacts/doc
          mv $output_dir coverage-artifacts/doc/
      - uses: actions/upload-artifact@v3
        with:
          name: coverage-artifacts-doc
          path: coverage-artifacts/doc

  test-concurrency:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: Run concurrency tests
        run: |
          cargo test --test concurrency-tests

  test-integration:
    needs: check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - store: redis_store
            features: redis-store
            docker: true

          - store: mongodb_store
            features: mongodb-store
            docker: true

          - store: postgres_store
            features: postgres-store
            docker: true

          - store: mysql_store
            features: mysql-store
            docker: true

          - store: sqlite_store
            features: sqlite-store
            docker: false

          - store: moka_store
            features: moka-store
            docker: false

          - store: caching_store
            features: moka-store,sqlite-store
            docker: false

          - store: mysql_store
            features: __diesel_mysql
            docker: true

          - store: postgres_store
            features: __diesel_postgres
            docker: true

          - store: diesel_store
            features: diesel-store
            docker: false

    steps:
      - uses: actions/checkout@v4
      - run: |
          rustup toolchain install ${{ env.MSRV }} --profile minimal
          cargo install cargo-tarpaulin
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@nextest
      - name: Start session store
        if: matrix.docker
        run: |
          docker compose -f tests/docker-compose.yml up ${{ matrix.store }} -d
      - name: Run integration tests
        run: |
          cargo nextest run ${{ matrix.store }}_test --test integration-tests --features ${{ matrix.features }}
      - name: Generate code coverage
        run: |
          output_dir="./coverage/${{ matrix.store }}_${{ matrix.features }}"
          cargo tarpaulin -olcov --test integration-tests --features ${{ matrix.features }} --output-dir $output_dir
          mkdir -p coverage-artifacts/integration
          mv $output_dir coverage-artifacts/integration/
      - uses: actions/upload-artifact@v3
        with:
          name: coverage-artifacts-integration
          path: coverage-artifacts/integration

  upload-coverage:
    needs:
      - test-docs
      - test-integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download Docs Coverage
        uses: actions/download-artifact@v3
        with:
          name: coverage-artifacts-doc
          path: coverage-artifacts-doc
      - name: Download Integration Coverage
        uses: actions/download-artifact@v3
        with:
          name: coverage-artifacts-integration
          path: coverage-artifacts-integration
      - name: Combine Coverage Data
        run: |
          mkdir -p ./coverage
          mv coverage-artifacts-doc/* ./coverage/
          mv coverage-artifacts-integration/* ./coverage/
          ls -la ./coverage
      - name: Upload all coverage data to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          directory: ./coverage
          fail_ci_if_error: true
